{% extends 'base.html' %}
{% block content %} 
    <div class="row">
      <div class="nine columns" style="margin-top: 0%">
        <h4> Data Acqusition and Visualisation </h4>
		<p>
			This site was created as part of a project in the course "Data Acqusition and Visualisation" at Reykjavík University.
		</p>
      </div>

      <div class="three columns" style="margin-top: 0%">
        <h4>Authors</h4>
        <ul>
          <li>Benedikt Geir Jóhannesson</li>
          <li>Bjarki Stefánsson</li>
          <li>Karl Þorláksson</li>
        </ul>
      </div>
    </div>
{% endblock %}
