{% extends 'base.html' %}
{% block content %} 
    <div class="row">
      <div class="nine columns" style="margin-top: 0%">
        <h4> Migrations in Iceland </h4>
	<p> For some years there has been talk of the depopulation of smaller municipalities in Iceland. <br> This site was created in order to examine the causes of these migrations and their symptoms. Furthermore the extent of these migration can be seen on an interactive map.
	</p>
      </div>

      <div class="three columns" style="margin-top: 0%">
        <h4>Authors</h4>
        <ul>
          <li>Benedikt Geir Jóhannesson</li>
          <li>Bjarki Stefánsson</li>
          <li>Karl Þorláksson</li>
        </ul>
      </div>
    </div>
{% endblock %}
