{% extends 'base.html' %}
{% block title %} kaffi? {% endblock %}
{% block content %} 
    <div class="row">
      <div class="nine columns" style="margin-top: 0%">
        <h4>Basic Page</h4>
        <p>This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to add some content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton documentation</a>.</p>
        <p> Here can we talk about our product and link to amazing visualizations. What is maybe most amazing is that we can write this so generally that the style will be identical on each template! </p>
      </div>

      <div class="three columns" style="margin-top: 0%">
        <h4>But sexy</h4>
        <p>Lists are coool</p>
        <ul>
          <li>Item 1</li>
          <li>
            Item 2
            <ul>
              <li>Item 2.1</li>
              <li>Item 2.2</li>
            </ul>
          </li>
          <li>Item 3</li>
        </ul>
      </div>
    </div>
{% endblock %}
