{% extends 'base.html' %}
{% block content %} 
    <div class="row">
      <div class="nine columns" style="margin-top: 0%">
        <h4> Data Acquisition and Visualisation </h4>
	<p> For some years there have been talks about the depopulation of smaller municipalities in Iceland. <br> The Icelandic Regional Development Institute defines municipalities which have 15 percent or more depopulation over the last 15 years as municipalities with persistent depopulation. We want to examine these municipalities on how they differ from others in population, expenses and age distribution. </p>
      </div>

      <div class="three columns" style="margin-top: 0%">
        <h4>Authors</h4>
        <ul>
          <li>Benedikt Geir Jóhannesson</li>
          <li>Bjarki Stefánsson</li>
          <li>Karl Þorláksson</li>
        </ul>
      </div>
    </div>
{% endblock %}
