{% extends 'base.html' %}
{% block title %} Presentation {% endblock %}
{% block content %} 
    <div class="row">
      <div class="nine columns" style='margin-top: 0%'>
        <h4>Data Acquisition and Visualisation, T-416-VIFG</h4>
	<p> The Icelandic Regional Development Institute defines municipalities which have 15 percent or more depopulation over the last 15 years as municipalities with persistent depopulation. We want to examine these municipalities on how they differ from others in population, expenses and age distribution.
	The municipalities which fall under IRDIs definition of municipalitites with presistent depopulation are, </p>
	<ul style='width:50%; float:left;'>
	<li> Vestfirðir </li>
	  <ul style='list-style-type:none'>
            <li> Ísafjarðarbær </li>
            <li> Tálknafjarðarhreppur </li>	
            <li> Strandabyggð </li>
            <li> Vesturbyggð </li>
            <li> Árneshreppur </li>
            <li> Súðavíkurhreppur </li>
            <li> Kaldrananeshreppur </li>
	  </ul>
	<li> Norðurland vestra </li>
          <ul style='list-style-type:none'>
            <li> Húnavatnshreppur </li>
            <li> Sveitarfélagið Skagaströnd </li>
          </ul>
        </ul>
        <ul style='width:50%; float:right;'>
	<li> Norðurland eystra </li>
          <ul style='list-style-type:none'>
            <li> Norðurþing </li>
            <li> Svalbarðshreppur </li>
            <li> Tjörneshreppur </li>
            <li> Fjallabyggð </li>
          </ul>
        <li> Austurland </li>
          <ul style='list-style-type:none'>
            <li> Djúpavogshreppur </li>
            <li> Seyðisfjörður </li>
            <li> Breiðdalshreppur </li>
          </ul>
        <li> Suðurland </li>
          <ul style='list-style-type:none'>
            <li> Skaftárhreppur </li>
          </ul>
	</ul>
      </div>
      
    <p>  </p>

      <div class="three columns" style="margin-top: 0%">
        <h4>Authors</h4>
        <ul>
	<li> Benedikt Geir Jóhannesson </li>
	<li> Bjarki Stefánsson </li>
	<li> Karl Þorláksson </li>
        </ul>
      </div>
    </div>
{% endblock %}
