{% extends 'base.html' %}
{% block title %} Beni plz {% endblock %}
{% block content %} 
    <div class="row">
      <div class="nine columns" style="margin-top: 0%">
        <h4>Basic Page</h4>

      </div>

      <div class="three columns" style="margin-top: 0%">
        <h4>Helo</h4>
        <p>Lists are coool</p>
        <ul>
          <li>Item 1</li>
          <li>
            Item 2
            <ul>
              <li>Item 2.1</li>
              <li>Item 2.2</li>
            </ul>
          </li>
          <li>Item 3</li>
        </ul>
      </div>
    </div>
{% endblock %}
