<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="extra.css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>
<header>
    <div class="container">
    <nav id="bannernav">
      <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="#">Municipalities</a></li>
        <li><a href="#">Maps</a></li>
        <li><a href="#">Plot</a></li>
        <li><a href="#">Presentation</a></li>
        <ul style="float:right;list-style-type:none;">
        <li><a href="#">Queries</a></li>
        <li><a href="#">About</a></li>
        <ul>
      </ul>
    </nav>
    </div>
</header>


  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="title">
    <h2> Somewebpage </h2>
    </div>
    <div class="row">
      <div class="nine columns" style="margin-top: 0%">
        <h4>Basic Page</h4>
        <p>This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to add some content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton documentation</a>.</p>
        <p> Here can we talk about our product and link to amazing visualizations. What is maybe most amazing is that we can write this so generally that the style will be identical on each template! </p>
      </div>

      <div class="three columns" style="margin-top: 0%">
        <h4>But sexy</h4>
        <p>Lists are coool</p>
        <ul>
          <li>Item 1</li>
          <li>
            Item 2
            <ul>
              <li>Item 2.1</li>
              <li>Item 2.2</li>
            </ul>
          </li>
          <li>Item 3</li>
        </ul>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
