{
    "region_name": "Reykjavík",
    "region_code": "0000",
    "population": 7137,
    "color_ind": 0
},

{
    "region_name": "Kópavogur",
    "region_code": "1000",
    "population": 343,
    "color_ind": 0
},

{
    "region_name": "Seltjarnarnes",
    "region_code": "1100",
    "population": 148,
    "color_ind": 0
},

{
    "region_name": "Garðabær",
    "region_code": "1300",
    "population": 451,
    "color_ind": 0
},

{
    "region_name": "Hafnarfjörður",
    "region_code": "1400",
    "population": 792,
    "color_ind": 0
},

{
    "region_name": "Mosfellsbær",
    "region_code": "1604",
    "population": 335,
    "color_ind": 0
},

{
    "region_name": "Kjósarhreppur",
    "region_code": "1606",
    "population": 258,
    "color_ind": 0
},

{
    "region_name": "Reykjanesbær",
    "region_code": "2000",
    "population": 736,
    "color_ind": 1
},

{
    "region_name": "Grindavík",
    "region_code": "2300",
    "population": 391,
    "color_ind": 1
},

{
    "region_name": "Sandgerði",
    "region_code": "2503",
    "population": 341,
    "color_ind": 1
},

{
    "region_name": "Sveitarfélagið Garður",
    "region_code": "2504",
    "population": 609,
    "color_ind": 1
},

{
    "region_name": "Sveitarfélagið Vogar",
    "region_code": "2506",
    "population": 441,
    "color_ind": 1
},

{
    "region_name": "Akranes",
    "region_code": "3000",
    "population": 747,
    "color_ind": 2
},

{
    "region_name": "Skorradalshreppur",
    "region_code": "3506",
    "population": 137,
    "color_ind": 2
},

{
    "region_name": "Hvalfjarðarsveit",
    "region_code": "3511",
    "population": 819,
    "color_ind": 2
},

{
    "region_name": "Borgarbyggð",
    "region_code": "3609",
    "population": 2745,
    "color_ind": 2
},

{
    "region_name": "Grundarfjarðarbær",
    "region_code": "3709",
    "population": 298,
    "color_ind": 2
},

{
    "region_name": "Helgafellssveit",
    "region_code": "3710",
    "population": 281,
    "color_ind": 2
},

{
    "region_name": "Stykkishólmur",
    "region_code": "3711",
    "population": 453,
    "color_ind": 2
},

{
    "region_name": "Eyja- og Miklaholtshreppur",
    "region_code": "3713",
    "population": 251,
    "color_ind": 2
},

{
    "region_name": "Snæfellsbær",
    "region_code": "3714",
    "population": 2175,
    "color_ind": 2
},

{
    "region_name": "Dalabyggð",
    "region_code": "3811",
    "population": 2331,
    "color_ind": 2
},

{
    "region_name": "Bolungarvík",
    "region_code": "4100",
    "population": 546,
    "color_ind": 3
},

{
    "region_name": "Ísafjarðarbær",
    "region_code": "4200",
    "population": 4913,
    "color_ind": 3
},

{
    "region_name": "Reykhólahreppur",
    "region_code": "4502",
    "population": 1197,
    "color_ind": 3
},

{
    "region_name": "Tálknafjarðarhreppur",
    "region_code": "4604",
    "population": 325,
    "color_ind": 3
},

{
    "region_name": "Vesturbyggð",
    "region_code": "4607",
    "population": 1847,
    "color_ind": 3
},

{
    "region_name": "Súðavíkurhreppur",
    "region_code": "4803",
    "population": 1152,
    "color_ind": 3
},

{
    "region_name": "Árneshreppur",
    "region_code": "4901",
    "population": 444,
    "color_ind": 3
},

{
    "region_name": "Kaldrananeshreppur",
    "region_code": "4902",
    "population": 342,
    "color_ind": 3
},

{
    "region_name": "Strandabyggð",
    "region_code": "4911",
    "population": 933,
    "color_ind": 3
},

{
    "region_name": "Sveitarfélagið Skagafjörður",
    "region_code": "5200",
    "population": 3948,
    "color_ind": 4
},

{
    "region_name": "Húnaþing vestra",
    "region_code": "5508",
    "population": 2034,
    "color_ind": 4
},

{
    "region_name": "Blönduósbær",
    "region_code": "5604",
    "population": 432,
    "color_ind": 4
},

{
    "region_name": "Sveitarfélagið Skagaströnd",
    "region_code": "5609",
    "population": 299,
    "color_ind": 4
},

{
    "region_name": "Skagabyggð",
    "region_code": "5611",
    "population": 324,
    "color_ind": 4
},

{
    "region_name": "Húnavatnshreppur",
    "region_code": "5612",
    "population": 1179,
    "color_ind": 4
},

{
    "region_name": "Akrahreppur",
    "region_code": "5706",
    "population": 432,
    "color_ind": 4
},

{
    "region_name": "Akureyri",
    "region_code": "6000",
    "population": 2158,
    "color_ind": 5
},

{
    "region_name": "Norðurþing",
    "region_code": "6100",
    "population": 1330,
    "color_ind": 5
},

{
    "region_name": "Fjallabyggð",
    "region_code": "6250",
    "population": 797,
    "color_ind": 5
},

{
    "region_name": "Dalvíkurbyggð",
    "region_code": "6400",
    "population": 1281,
    "color_ind": 5
},

{
    "region_name": "Eyjafjarðarsveit",
    "region_code": "6513",
    "population": 1251,
    "color_ind": 5
},

{
    "region_name": "Hörgársveit",
    "region_code": "6515",
    "population": 1219,
    "color_ind": 5
},

{
    "region_name": "Svalbarðsstrandarhreppur",
    "region_code": "6601",
    "population": 261,
    "color_ind": 5
},

{
    "region_name": "Grýtubakkahreppur",
    "region_code": "6602",
    "population": 575,
    "color_ind": 5
},

{
    "region_name": "Skútustaðahreppur",
    "region_code": "6607",
    "population": 319,
    "color_ind": 5
},

{
    "region_name": "Tjörneshreppur",
    "region_code": "6611",
    "population": 125,
    "color_ind": 5
},

{
    "region_name": "Þingeyjarsveit",
    "region_code": "6612",
    "population": 1954,
    "color_ind": 5
},

{
    "region_name": "Svalbarðshreppur",
    "region_code": "6706",
    "population": 252,
    "color_ind": 5
},

{
    "region_name": "Langanesbyggð",
    "region_code": "6709",
    "population": 599,
    "color_ind": 5
},

{
    "region_name": "Seyðisfjörður",
    "region_code": "7000",
    "population": 1121,
    "color_ind": 6
},

{
    "region_name": "Fjarðabyggð",
    "region_code": "7300",
    "population": 2471,
    "color_ind": 6
},

{
    "region_name": "Vopnafjarðarhreppur",
    "region_code": "7502",
    "population": 987,
    "color_ind": 6
},

{
    "region_name": "Fljótsdalshreppur",
    "region_code": "7505",
    "population": 296,
    "color_ind": 6
},

{
    "region_name": "Borgarfjarðarhreppur",
    "region_code": "7509",
    "population": 485,
    "color_ind": 6
},

{
    "region_name": "Breiðdalshreppur",
    "region_code": "7613",
    "population": 464,
    "color_ind": 6
},

{
    "region_name": "Djúpavogshreppur",
    "region_code": "7617",
    "population": 625,
    "color_ind": 6
},

{
    "region_name": "Fljótsdalshérað",
    "region_code": "7620",
    "population": 2042,
    "color_ind": 6
},

{
    "region_name": "Sveitarfélagið Hornafjörður",
    "region_code": "7708",
    "population": 1444,
    "color_ind": 7
},

{
    "region_name": "Vestmannaeyjar",
    "region_code": "8000",
    "population": 607,
    "color_ind": 7
},

{
    "region_name": "Sveitarfélagið Árborg",
    "region_code": "8200",
    "population": 1962,
    "color_ind": 7
},

{
    "region_name": "Mýrdalshreppur",
    "region_code": "8508",
    "population": 854,
    "color_ind": 7
},

{
    "region_name": "Skaftárhreppur",
    "region_code": "8509",
    "population": 1090,
    "color_ind": 7
},

{
    "region_name": "Ásahreppur",
    "region_code": "8610",
    "population": 305,
    "color_ind": 7
},

{
    "region_name": "Rangárþing eystra",
    "region_code": "8613",
    "population": 2555,
    "color_ind": 7
},

{
    "region_name": "Rangárþing ytra",
    "region_code": "8614",
    "population": 1506,
    "color_ind": 7
},

{
    "region_name": "Hrunamannahreppur",
    "region_code": "8710",
    "population": 498,
    "color_ind": 7
},

{
    "region_name": "Hveragerði",
    "region_code": "8716",
    "population": 395,
    "color_ind": 7
},

{
    "region_name": "Sveitarfélagið Ölfus",
    "region_code": "8717",
    "population": 379,
    "color_ind": 7
},

{
    "region_name": "Grímsnes- og Grafningshreppur",
    "region_code": "8719",
    "population": 538,
    "color_ind": 7
},

{
    "region_name": "Skeiða- og Gnúpverjahreppur",
    "region_code": "8720",
    "population": 541,
    "color_ind": 7
},

{
    "region_name": "Bláskógabyggð",
    "region_code": "8721",
    "population": 879,
    "color_ind": 7
},

{
    "region_name": "Flóahreppur",
    "region_code": "8722",
    "population": 1202,
    "color_ind": 7
},
