#subbannernav ul,
#bannernav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 0px solid #bbb;
    background-color: #f3f3f3;
}

#subbannernav li a,
#bannernav li {
    float: left;
}

#subbannernav li a {
    display: inline;
    color: #666;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}
#bannernav li a {
    display: inline;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


#subbannernav li a.active,
#bannernav li a.active {
    color: #fff;
    background-color: #33c3f0;
}
#subbannernav li a.active:hover,
#bannernav li a.active:hover {
    background-color: #1EAEDB;
}
#subbannernav li a:hover:not(.active),
#bannernav li a:hover:not(.active) {
    background-color: #ddd;
}

.docs-section {
    border-top: 1px solid #eee;
    padding: 4rem 0;
margin-bottom: 0;}
