.legend rect,
.map #iceland {
   fill:#DADADA;
   stroke:#787878;
   stroke-width:0.1;
   fill-opacity:0.8;
}
.map #glaciers {
    fill:#FEFEFE;
    stroke:#A4A4A4;
    stroke-width:0.0;
}
.map g g:hover {
    //fill:#ff0000 !important;
    fill-opacity: 1;
    stroke-width: 0.5;
    cursor: crosshair;
}
#map-container {
    width: 100%;
    margin: 20px auto;
}
path.st4{fill:#FEFEFE; stroke:#A4A4A4; stroke-width:0.0;}
path.st2{fill:#FF0000; stroke:#000000; stroke-width:0.01;}
.info_panel {
  background-color: rgba(255,255,255, .8);
  padding: 5px;
  font-size: 80%;
  position: absolute;
  border: 1px solid #333;
  color: #333;
  white-space: nowrap;
}

g.legend text {
    font-size: 75%;
}

.info_panel::first-line {
  font-weight: bold;
}
