{% extends 'base.html' %}
{% block title %} Municipalities of Iceland {% endblock %}
{% block content %}
<div class="row">
<div class="three columns" >
    <!-- <h4> List </h4> -->
<ul>
    {% for rname,val in regions.items %}
        <li>
            {{ rname }}
        </li>
        <ul>
        {% for name,mid in val %}
            <li style="margin-bottom:0rem">
                <a href="{{ mid|stringformat:"04d" }}">
                    {{ name }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
</ul>
</div>
<div class="nine columns">
    {% include 'iceland.svg.html'%}
    <h4> Info </h4>
    <p>
    Here you can access all municipalities that exist today and see local data. Such as how they have merged and split up for the since the 20th century. Population pyramids and simple line plot of normalized population changes.
    </p>
</div>
</div>
{% endblock %}
