{% extends 'base.html' %}
{% block headercontent %}
{% endblock %}
{% block content %}

	<div id="agepyramid"> 
		<h2> Age Pyramid </h2>
        <div class="pyramid"> </div>
        {% include 'sveito/pyramid.js' %}
	</div>

    <div id="gendercolumn">
        <h2> Gender Comparison </h2>
        <div class='gendercomp'> </div>
        {% include 'sveito/gender.js' %}
    </div>

	<div id="lineplot">
		<h2> Population by Year </h2>
	</div> 

	<div id="mergetimeline">
		<h2> Municipality Merges </h2>
	</div>

{% endblock %}
