{% extends 'base.html' %}
{% block headercontent %}
{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<p> {{title}} is situated in {{region}} and has the population of {{munipop}}. </p>

<div id="agepyramid" class='docs-section'>
	<h2> Age Pyramid </h2>
	<p> An age pyramid for {{ title }} compared to the mean of Iceland December 1, 2014. </p>
		<div class="pyramid" style='max-width:750px; margin:auto'> </div>
		{% include 'sveito/pyramid.js' %}
</div>

<div id="genderpop" class='docs-section'>
		<h2> Population development by gender </h2>
		<p> The following chart displays comparison of population development by gender between the mean of Iceland, Municipalities with persistent population growth, Municipalities with persistent depopulation, from 2000 to 2015. {{title}} and {{region}}. The line show the percentage of males in each category, the rest is females. </p>
        <div style='max-width:750px; margin:auto; padding-bottom:30px'>
        {% include 'plot/lineplot.html'%}
        </div>
		<p>
		<b>Municipalities with persistent depopulation</b>
			is defined by the Icelandic Regional Development Institute as municipalities with population decline of more than 15 percent over the last 15 years. <br>
		<b>Municipalitites with persistent population growth</b>
			we define as municipalities with population growth of at least 40 percent over the last 15 years of municipalities population over 5,000.
        </p>
</div>

<!-- <div id="mergetimeline">
		<h2> Municipality Merges </h2>
	</div>
-->
<div id="moneycolumn" class='docs-section'>
	<h2> Spending per capita</h2>
	<p> Comparison of government spending between the mean of Iceland, Municipalities with persistent population growth, Municipalities with persistent depopulation, {{title}} and {{region}} for 2014. </p>
	<div class="moneybar" style='max-width:750px; margin:auto'> </div>
		{% include "sveito/moneybar.js" %}
	<p>The following are explanations for each category in the graph above.</p> 
	<p>
		<b>Sport- and youth activities</b>
			covers expenses for playgrounds, youth programs, community centers, gymnasiums and swimming pools, grants and donations. <br>
		<b>Culture</b>
			covers expenses for libraries, museums, arts, celebrations, grants and donations. <br>
		<b>Social service</b>
			covers expenses for social assistance, service for children, youth, elderly and disabled, various social service, various statutory contributions, grants and donations. <br>
	</p>
</div>
<div id="changes" class='docs-section'>
<h2>Merges, splits and name changes since 1900</h2>
{% if changes %}
<table class="u-full-width">
  <thead>
    <tr>
      <th>Year</th>
      <th>From</th>
      <th>To</th>
    </tr>
  </thead>
  <tbody>
      {% for y,f,t in changes %}
    <tr>
        <td>{{y}}</td>
        <td>{{f}}</td>
        <td>{{t}}</td>
    </tr>
      {% endfor %}
  </tbody>
</table>
{% else %}
    <p>There have been no merges, splits nor name changes since 1900.</p>
{% endif %}
</div>
{% endblock %}
